@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-1: #222831;
    --cor-2: #393E46;
    --cor-3: #00ADB5;
    --cor-4: #526D82;
    --cor-texto: #EEEEEE;
}


/* ATRIBUTOS BASICOS */

body{
    background-color: #222831;
}

footer{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

h1{
    font-family: "Raleway", sans-serif;
    font-weight: 700;    
}

h2{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

h3{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

label{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

a{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}


/* CABEÇALHO */

.cabecalho{
    background-color: var(--cor-1);
    color: var(--cor-texto);
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cabecalho__nome{
    display : flex;
    align-items: center;
    padding-left: 7%;
    font-size: 16px;
}

.cabecalho__navegacao{
    display : flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 16px;
    padding-right: 7%;
}

.cabecalho__email{
    display : flex;
    align-items: center;
}

.cabecalho__email__2{
    display : none;
    align-items: center;
}


/* INTRODUCAO */

.introducao{
    background-color: var(--cor-1);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 7%;
}

.introducao__texto{
    color: var(--cor-texto);
    padding: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.introducao__texto__1{
    color: var(--cor-3);
    font-size: 52px;
}

.introducao__texto__2{
    font-size: 22px;
}

.introducao__texto__links{
    color: var(--cor-3);
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.introducao__imagem{
    border-radius: 50%;
}

.link{
    display: flex;
    gap: 5px;
    justify-content: center;
}


/* SOBRE MIM */

.sobre__mim{
    background-color: var(--cor-2);
    display: flex;
    flex-direction: row;
    padding: 3% 7%;
}

.sobre__mim__texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding-right: 368px;
}

.sobre__mim__titulo{
    color: var(--cor-3);
    font-size: 52px;
    padding-right: 7%;
}

.sobre__mim__info__1 , .sobre__mim__info__2{
    color: var(--cor-texto);
    font-size: 16px;
    padding-right: 7%;
}


/* SKILLS & HOBBIES*/

.skills, .hobbies{
    background-color: var(--cor-1);
    color: var(--cor-texto);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding: 4% 7%;
    grid-template-columns: none;
}

.skills__titulo, .hobbies__titulo{
    color: var(--cor-3);
    font-size: 32px;
    text-align: center;
}

.skills__quadros, .hobbies__quadros{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.skills__quadros__quadro, .hobbies__quadros__quadro{
    width: 176px;
    height: 176px;
    background-color: var(--cor-2);
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.skills__quadros__quadro__conteudo, .hobbies__quadros__quadro__conteudo{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.skills__quadros__quadro__conteudo__texto, .hobbies__quadros__quadro__conteudo__texto{
    font-weight: 700;
}


/* FORMAÇÃO ACADEMICA */

.formacao{
    background-color: var(--cor-2);
    color: var(--cor-texto);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding: 4% 7%;
}

.formacao__titulo{
    color: var(--cor-3);
    font-size: 32px;
    text-align: center;
}

.formacao__quadros{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.formacao__grid{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formacao__quadros__quadro{
    width: 368px;
    height: 286px;
    background-color: var(--cor-4);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.formacao__grid__texto__1{
    font-size: 22px;
    font-weight: 700;
}

.formacao__grid__texto__2{
    font-size: 16px;
}


/* PROJETOS */

.projetos{
    background-color: var(--cor-1);
    color: var(--cor-texto);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding: 4% 7%;
}

.projetos__titulo{
    color: var(--cor-3);
    font-size: 32px;
    text-align: center;
}

.projetos__container{
    padding: 0% 7%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.projetos__container__conteudo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.projetos__container__conteudo__textos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.projetos__container__conteudo__textos__1{
    font-size: 22px;
    font-weight: 700;
}

.projetos__container__conteudo__textos__2{
    font-size: 16px;
}

.projetos__imagem{
    width: 50vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.botoes{
    display: flex;
    gap: 10px;
}

.botao1{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid var(--cor-3);
    padding: 7px 16px;
    min-height: 51px;
    min-width: 116px;
    color: var(--cor-3);
    background: var(--cor-1);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
    :hover {
        background: #f6f6f7;
        outline: 1px solid transparent;
    }
}

.botao2{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 51px;
    min-width: 116px;
    color: #ffffff;
    background: var(--cor-3);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
    :hover {
        background: #006e52;
    }
}


/* CONTATO */

.contato{
    background-color: var(--cor-2);
    color: white; 
    display: flex;
    padding: 7%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contato__conteudo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contato__titulo{
    color: var(--cor-3);
    font-size: 32px;
}

.contato__texto{
    font-size: 22px;
    font-weight: 400;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.formulario__texto{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.formulario__texto__input{
    width: 100%;
    height: 3.5vh;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.formulario__texto__textarea{
    width: 100%;
    height: 10vh;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.botao__enviar{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 51px;
    min-width: 116px;
    color: #ffffff;
    background: var(--cor-3);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
    width: 1%;
    :hover {
        background: #006e52;
    }
}

.botao__enviar:disabled{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 51px;
    min-width: 116px;
    color: #ffffff;
    background: var(--cor-1);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
    width: 1%;
    :hover {
        background: #006e52;
    }
}

@media only screen and (max-width: 768px){

    footer{
       padding: 4%;
    }

    .cabecalho__nome{
        padding-left: 4%;
    }

    .cabecalho__navegacao{
        display: none;
    }

    .cabecalho__email__2{
        display: flex;
        padding-right: 4%;
        font-weight: 400;
    }


    /* INTRODUÇÃO */

    .introducao{
        padding-right: 4%;
    }

    .introducao__texto{
        padding: 4%;
        gap: 16px;
    }

    .introducao__texto__1{
        font-size: 22px;
    }

    .introducao__texto__2{
        font-size: 16px;
    }

    .introducao__imagem{
        height: 146px;
        width: 146px;
    }


    /* SOBRE MIM */
    .sobre__mim{
        padding: 3% 4%;
    }

    .sobre__mim__titulo{
        font-size: 22px;
    }

    .sobre__mim__texto{
        padding: 0;
    }

    .sobre__mim__info__1 , .sobre__mim__info__2{
        font-size: 14px;
        padding-right: 4%;
    }


    /* SKILLS & HOBBIES*/

    .skills__titulo, .hobbies__titulo{
        font-size: 22px;
    }

    .skills__quadros__quadro, .hobbies__quadros__quadro{
        width: 176px;
        height: 118px;
    }

    .skills__quadros__quadro__conteudo, .hobbies__quadros__quadro__conteudo{
        padding: 14px;
    }

    /* FORMAÇÃO ACADEMICA */

    .formacao__titulo{
        font-size: 22px;
    }

    .formacao__quadros__quadro{
        width: 224px;
        height: 118px;
    }

    .formacao__imagem{
        width: 80px;
    }

    .formacao__grid__texto__1{
        font-size: 15px;
    }

    .formacao__grid__texto__2{
        font-size: 13px;
    }


    /* PROJETOS */

    .projetos{
        padding: 4% 4%;
    }

    .projetos__titulo{
        font-size: 22px;
    }
    
    .projetos__container{
        padding: 0%;
    }

    .projetos__container__conteudo{
        flex-direction: column;
    }

    .projetos__imagem{
        width: 100%;
    }

    .projetos__container__conteudo__textos{
        align-self: start;
    }

    .projetos__container__conteudo__textos__1{
        font-size: 16px;
    }
    
    .projetos__container__conteudo__textos__2{
        font-size: 14px;
    }

    .botao1{
        min-height: 40px;
        min-width: 108px;
    }
    
    .botao2{
        min-height: 40px;
        min-width: 108px;
    }

    /* CONTATO */
    .contato{
        padding: 4%;
        align-items: start;
        gap: 0px;
    }

    .contato__titulo{
        font-size: 22px;
    }

    .contato__texto{
        font-size: 16px;
    }

    .contato__imagem{
        display: none;
    }

    .contato__conteudo{
        width: 100%;
    }
}

@media only screen and (max-width: 360px){

    footer{
        padding: 9% 6%;
    }

    .cabecalho{
        height: 7vh;
    }

    .cabecalho__nome{
        padding-left: 6%;
        font-size: 16px;
    }

    .cabecalho__email__2{
        padding-right: 6%;
        font-size: 14px;
    }

    /* INTRODUÇÃO */
    .introducao{
        flex-direction: column-reverse;
        justify-content: start;
        align-items: start;
        padding: 3% 6% 6% 6%;
        gap: 16px;
    }

    .introducao__texto{
        padding: 0%;
    }

    .introducao__imagem{
        height: 98px;
        width: 98px;
    }

    /* SOBRE MIM */
    .sobre__mim{
        padding: 6%;
    }


    /* SKILLS & HOBBIES*/
    .skills, .hobbies{
        justify-content: center;
        align-items: center;  
        padding: 6%;
        gap: 20px;
    }

    .skills__quadros, .hobbies__quadros{
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .skills__quadros__quadro, .hobbies__quadros__quadro{
        width: 150px;
        height: 118px;
    }

    /* FORMAÇÃO ACADEMICA */
    .formacao{
        padding: 6%;
        gap: 20px;
    }

    .formacao__quadros{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .formacao__quadros__quadro{
        width: 316px;
    }

    /* PROJETOS */
    .projetos{
        padding: 6%;
        gap: 20px;
    }

    /* CONTATO */
    .contato{
        padding: 6%;
    }
}